---
import Layout from "../components/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("listening");
---
<Layout>
  <h1>📖 Blog</h1>
  <ul>
    {posts.map(post => (
      <li>
        <a href={post.slug}>{post.data.title}</a> — {post.data.date}
      </li>
    ))}
  </ul>
</Layout>
