---
import Layout from "../components/Layout.astro";
import Quiz from "../components/Quiz.jsx";
import AuthGuard from "../components/AuthGuard.jsx";
---
<Layout>
  <h1>❓ Grammar Quiz</h1>
  <AuthGuard client:load>
    <Quiz />
  </AuthGuard>
</Layout>
