---
import Navbar from "./Navbar.astro";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spanish Hub</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>
